* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.presentation {
    text-align: center;
}

h1 {
    color: #de306d;
    margin-top: 30px;
}

.description {
    margin-top: 30px;

}

/* Main container */
.container {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 50px auto;
    padding: 40px;
    gap: 80px;
}

/* Image styling */


.image-box {
    max-width: 700px;
    height: auto;

}

.team-member-image {
    display: inline-block;
    width: 124px;
    height: 125px;
}

/* Text section */
.text-box {
    max-width: 600px;
    text-align: left;
}

.text-box h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}