* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.presentation {
    text-align: center;
}

h1 {
    color: #de306d;
    margin-top: 30px;
    font-family: "fredoka";
}

.description {
    margin-top: 30px;

}

/* Main container */
.card-item {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 50px auto;
    padding: 40px;
    gap: 80px;
}

/* Image styling */


.image-box {
    max-width: 700px;
    height: auto;

}

.team-member-image {
    width: 124px;
    height: 125px;
}

/* Text section */
.text-box {
    max-width: 600px;
    text-align: left;
    background-color: black;
    color: white;
    margin-left: -80px;
    height: 125px;
}

.text-box h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* layout a griglia */

#team-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .team-cards>div {
    width: calc((100% - 40px) / 3);
    flex-shrink: 0;
    background-color: #ff6900;
    height: 200px;
    border: 2px solid black;

}